In [1]:
import pandas as pd
import sqlalchemy as sa
from sqlalchemy.dialects.postgresql import JSON, JSONB
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import json
import datetime
from dateutil.parser import parser
import os
from pprint import pprint
from pathlib import Path
import glob
#from odo import odo
import importlib
import itertools
import numpy as np

#importlib.invalidate_caches()
%load_ext autoreload
%autoreload 2

# Reading in data from UCD Server

In [2]:
outf = Path.home() / "work" / "spotify_playlist.sql"
print(outf)
engine = sa.create_engine(f"sqlite:///{outf}", echo=False)

/home/michaelmallon/work/spotify_playlist.sql

In [3]:
with engine.connect() as con:
    print(list(con.execute("select count(0) from playlists")))

[(1000000,)]

#### Reading Playlists into a Dataframe

In [4]:
playlists = pd.read_sql("SELECT * FROM playlists ", engine)

In [5]:
playlists.sample(5).head()

,collaborative,description,duration_ms,modified_at,name,num_albums,num_artists,num_edits,num_followers,num_tracks,pid
485878,false,None,1755571,1509148800,jams,8,8,7,3,8,979878
311876,false,None,33448319,1507939200,Cumbias,114,62,27,4,168,74876
239772,false,None,41896312,1509408000,::INDIES::,132,100,105,1,171,587772
734444,false,None,1697078,1501286400,JULY,8,8,4,1,8,635444
88296,false,None,12151933,1362873600,Electro Swing,35,42,4,2,50,415296

In [6]:
len(playlists)

1000000

#### Saving to Pickle use for easier use later

In [7]:
playlists.to_pickle('../Pickle_Files/playlists.pkl')